:root {
  --main-color: #005076;
  --main-color-light: #00517680;
  --secondary-color: #40e0d0;
}

.about-container {
  max-width: 480px; /* Match this to your nav's width */
  margin: 0 auto 50vh auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-description {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}